<!DOCTYPE html>

<html>
    <head>
        <title>Employee Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link href="css/lightbox.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="css/layouts/PersonalPage.css"> -->
        <link rel="stylesheet" href="css/styles/ManegerPage.css">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/EmployeePage.js"></script>
    </head>
    <body onload="initiate();" style="padding-bottom:15vw;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h1>
                        Employee Page
                    </h1>
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-3">

                </div>
            </div>

            <!--edit employee info  -->
            <div class="row">
                <div class="col-md-8"><!--Everything else-->

                    <button class="btn-primary" data-target="#myAdModal" data-toggle="modal">Create Advertisement</button>

                    <hr>
                    <h1>
                        Record a Transaction:
                    </h1>
                    <div class="row">
                      <div class="col-md-12">

                    <form action="http://localhost:1337/recordTransaction" method="post">

                          <div class="col-md-3">
                          <div class="container">

                              <div class="dropdown">
                                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">AdvertisementId
                                      <span class="caret"></span></button>
                                          <ul class="dropdown-menu" id="AdvertisementIds">
                                            <li><a></a></li>
                                          </ul>
                              </div>
                            </div>
                          </div>
                            <input class="form-control" type="text" id="RecordAdId" name="AdvertisementId" style="display:none"><!--Hide this-->
                            <div class="col-md-3">
                              <input class="form-control" type="text" placeholder="Account Number" name="Account_number">
                            </div>
                            <div class="col-md-3">
                            <input class="form-control" type="text" placeholder="Number Of Units" name="Number_of_units">
                            <input class="btn-primary" type="submit" value="Record">
                          </div>

                        </form>
                    </div>
                   </div>
                    <hr>
                    <h1 align="center">
                        Select a User:
                    </h1>

                    <div class="container" align="center">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">User
                                <span class="caret"></span></button>
                                    <ul class="dropdown-menu" id="Users" style="margin-left:40%">
                                    </ul>
                        </div>
                    </div>

                    <ul id="UserGroups">
                    </ul>
                    <hr>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <h1>Item suggestions for a Customer</h1>
                            </div>
                            <div class="col-md-6">
                                <h1>Customers Current Groups</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" id="suggestionsDiv">
                                <ul id="suggestions">
                                </ul>
                            </div>
                            <div class="col-md-6" id="groupsDiv">
                                <ul id="groups">
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <div class="row" align="center">
                            <div class="col-md-12">
                                <h1>Account History</h1>
                            </div>
                        </div>
                        <div class="row" align="center">
                            <div class="col-md-12" id="acctHistDiv">
                                <ul id="acctHist">
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <h1>
                                    Mailing List
                                </h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul id="MailingList">
                                </ul>
                            </div>
                        </div>

                    </div>





                </div>

                <div class="col-md-4 well">

                  <h2>
                    Top 5 Selling Items
                  </h2>
                  <ul class="list-group" id="BestItems" align="center"><!--List of best items-->



                 </ul>
                 <h2>
                   Advertisements
                 </h2>
                 <ul class="list-group" id="Advertisements" align="center"><!--List of advertisements have item name and price and delete button-->



                </ul>





                </div>
            </div>

        </div>
        <!-- Put all Modals here PLease be neat! -->
        <div class="modal fade" id="myAdModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Advertisement</h4>
              </div>
              <div class="modal-body">
                <h4>Type</h4>
                <input type="text" class="form-control" id="Type">
                <h4>Company</h4>
                <input type="text" class="form-control" id="Company">
                <h4>Item Name</h4>
                <input type="text" class="form-control" id="ItemName">
                <h4>Content</h4>
                <input type="text" class="form-control" id="Content">
                <h4>Unit Price</h4>
                <input type="text" class="form-control" id="UnitPrice">
                <h4>Number Of Available Units</h4>
                <input type="text" class="form-control" id="NumberOfUnits">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="Post_modal_button" onclick="createAdvertisement()">Create</button>
              </div>
            </div>

          </div>
        </div>

    </body>
</html>
