<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Friend Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link href="css/lightbox.css" rel="stylesheet">
        <link rel="stylesheet" href="css/layouts/FriendPage.css">
        <link rel="stylesheet" href="css/styles/FriendPage.css">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/FriendPage.js"></script>
    </head>
    <body onload="initiate();">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
              <h1 id="companyTitle">Connected</h1>
            </div>
            <div class="col-md-6"></div>

          </div>
          <div class="row">
            <div class="col-md-3" id="personal info">
              <h1 id="name">First Name Last Name</h1>
              <!-- <button type="button" class="btn-primary"id="messages">Create Post</button>
              <button type="button" class="btn-primary"id="messages">Messages</button> -->
              <h2>Groups</h2>
              <ul id="groups">

              </ul>

              <h2>Friends</h2>
              <ul id="friends">

              </ul>

            </div>
            <div class="col-md-6">


              <!-- <input type="text" placeholder="Enter Status" id="status"> -->
              <!-- <input type="submit" method="Post" onclick="post_Status()" id="Status-btn" /> -->
              <div id="posts">
                <!-- this is where the posts will be generated -->
              </div>
            </div>
            <div class="col-md-3" id="advertisements">
              <div class="col-md-12 advertisement" id="ad1">
                <h4 class="adTitle">Advertisement Title</h4>
                <p>Content</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Comment</h4>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control" id="commentValue">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" id="Modal_button">Submit</button>
        </div>
      </div>

    </div>
  </div>


    </body>
</html>
