<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Personal Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link href="css/lightbox.css" rel="stylesheet">
        <link rel="stylesheet" href="css/layouts/PersonalPage.css">
        <link rel="stylesheet" href="css/styles/PersonalPage.css">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/PersonalPage.js"></script>
    </head>
    <body onload="initiate();">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <h3 id="companyTitle">Connected</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3" id="personal info">
              <p id="name">First Name Last Name</p>
              <button type="button" class="btn-primary"id="messages">Create Post</button>
              <button type="button" class="btn-primary"id="messages">Messages</button>
              <p>Groups</p>
              <ul id="groups">

              </ul>
            </div>
            <div class="col-md-6">
              <input type="text" placeholder="Enter Status" id="status">
              <input type="submit" method="Post" onclick="post_Status()" id="Status-btn" />
              <div id="posts">
                <!-- this is where the posts will be generated -->
              </div>
            </div>
            <div class="col-md-3" id="advertisements">
              <div class="col-md-12 advertisement" id="ad1">
                <h4 class="adTitle">Advertisement Title</h4>
                <p>Content</p>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>
