#groups{
  text-decoration: underline;
}
.content{
  font-size: 130%;
}

.comment{
  background-color: white;
}

.advertisement{
  background-color: #f78254
}
.btn{
	background-color: #cccccc;
}

.friend, .group{
     background:none!important;
     border:none;
     padding:0!important;
     font: inherit;
     /*border is optional*/
     cursor: pointer;

}
.listElement:hover{
  background-color: gray;
}


.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }
