#groups{
  text-decoration: underline;
}
.content{
  font-size: 130%;
}

.comment{
  background-color: white;
}

.advertisement{
  background-color: #f78254
}
.btn{
	background-color: #cccccc;
}

.friend{
     background:none!important;
     border:none;
     padding:0!important;
     font: inherit;
     /*border is optional*/
     cursor: pointer;

}

#companyTitle{
     background:none!important;
     border:none;
     padding:0!important;
     font-size: 2em;
     /*border is optional*/
     cursor: pointer;

}
.friend:hover{
  background-color: #ea6a3f;
}
