<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Connected Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="../Public/css/bootstrap.min.css">
        <link href="../Public/css/lightbox.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/mainCSS.css">
        <link href="/css/lightbox.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.mi‌​n.js"></script>
    </head>
    <body>

        <div class="container-fluid">
          <form id="form" method="post" action="http://localhost:1337/login">
            <div class="row">
                <div class="col-md-12 title_bar" align="center">
                    <h1 align="center" width="20%"  heght="50%" style="color:white;">Login</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <label><b>Email</b></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <input type="text" placeholder="Enter Email" name="email" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <label><b>Password</b></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <input type="password" placeholder="Enter Password" name="psw" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <input type="submit" value="login">
                </div>
            </div>



        </div>
      </form>
      <form action="/register" method="get"><!--Send get request to render register -->
        <input type="submit" value="Register"  id="frm1_submit" />
       </form>
    </body>
</html>
