html, body, .container
{
    height: 100%; 
    min-height: 100%;
}
body{
}


.title_bar{
    background: black;
    z-index:1;
    height: 200px;
}


.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius:0;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

 
.btn-primary {
    background: black;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: white;
    color: black;
}
 
.btn-primary:active, .btn-primary.active {
    background: green;
    box-shadow: none;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

@font-face {
    font-family: 'Ancient Geek'; /*a name to be used later*/
    src: url('../Media/Fonts/Ancient Geek/geek.ttf'); /*URL to font*/
}



